:root {
  --font-code     : var(--font-monospace);
  --font-monospace: "Source Code Pro", monospace;
  --font-sans     : "Figtree", sans-serif;
  --font-serif    : "Fraunces", serif;
}

:root {
  --type-size-1: clamp(1.48rem, calc(-1.08rem + 12.76vw), 14.24rem);
  --type-size-2: clamp(1.38rem, calc(-0.24rem + 8.11vw), 9.49rem);
  --type-size-3: clamp(1.30rem, calc(0.29rem + 5.03vw), 6.33rem);
  --type-size-4: clamp(1.22rem, calc(0.61rem + 3.00vw), 4.22rem);
  --type-size-5: clamp(1.14rem, calc(0.80rem + 1.67vw), 2.81rem);
  --type-size-6: clamp(1.07rem, calc(0.91rem + 0.81vw), 1.88rem);
  --type-size-7: clamp(0.83rem, calc(0.96rem + -0.10vw), 0.94rem);
  --type-size-8: clamp(0.56rem, calc(0.94rem + -0.32vw), 0.88rem);
  --type-size-9: clamp(0.37rem, calc(0.91rem + -0.45vw), 0.82rem);
  --type-size  : clamp(1.00rem, calc(0.95rem + 0.25vw), 1.25rem);

  // variable type sizes use em instead of rem
  --vtype-size-1: clamp(1.48em, calc(-1.08em + 12.76vw), 14.24em);
  --vtype-size-2: clamp(1.38em, calc(-0.24em + 8.11vw), 9.49em);
  --vtype-size-3: clamp(1.30em, calc(0.29em + 5.03vw), 6.33em);
  --vtype-size-4: clamp(1.22em, calc(0.61em + 3.00vw), 4.22em);
  --vtype-size-5: clamp(1.14em, calc(0.80em + 1.67vw), 2.81em);
  --vtype-size-6: clamp(1.07em, calc(0.91em + 0.81vw), 1.88em);
  --vtype-size-7: clamp(0.83em, calc(0.96em + -0.10vw), 0.94em);
  --vtype-size-8: clamp(0.56em, calc(0.94em + -0.32vw), 0.88em);
  --vtype-size-9: clamp(0.37em, calc(0.91em + -0.45vw), 0.82em);
  --vtype-size  : clamp(1.00em, calc(0.95em + 0.25vw), 1.25em);

  --content-width: 75ch;
  --page-width   : 130ch;
}

:root {
  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 8px;
  --radius-4: 10px;
  --radius-5: 12px;
}

:root {
  --space-none: 0;
  --space-auto: auto;
  --space-xxxl: 4rem;
  --space-xxl : 3rem;
  --space-xl  : 2rem;
  --space-l   : 1.5rem;
  --space     : 1rem;
  --space-m   : var(--space);
  --space-s   : 0.75rem;
  --space-xs  : 0.5rem;
  --space-xxs : 0.25rem;
  --space-xxxs: 0.1rem;
}