@mixin light-scheme() {
  --fg-1: var(--black-5);
  --fg-2: var(--black-4);
  --fg-3: var(--black-3);
  --fg-4: var(--black-2);
  --fg-5: var(--black-1);

  --bg-1: var(--white-1);
  --bg-2: var(--white-2);
  --bg-3: var(--white-3);
  --bg-4: var(--white-4);
  --bg-5: var(--white-5);

  --primary-1: var(--c-primary-1);
  --primary-2: var(--c-primary-2);
  --primary-3: var(--c-primary-3);
  --primary-4: var(--c-primary-4);
  --primary-5: var(--c-primary-5);
}

@mixin dark-scheme() {
  --fg-1: var(--white-1);
  --fg-2: var(--white-2);
  --fg-3: var(--white-3);
  --fg-4: var(--white-4);
  --fg-5: var(--white-5);

  --bg-1: var(--black-5);
  --bg-2: var(--black-4);
  --bg-3: var(--black-3);
  --bg-4: var(--black-2);
  --bg-5: var(--black-1);

  --primary-1: var(--c-primary-5);
  --primary-2: var(--c-primary-4);
  --primary-3: var(--c-primary-3);
  --primary-4: var(--c-primary-2);
  --primary-5: var(--c-primary-1);
}

.theme-default,
.theme-light {
  @include light-scheme();
}

.theme-dark {
  @include dark-scheme();
}

.theme-default {
  @media (prefers-color-scheme: dark) {
    @include dark-scheme();
  }
}